iframe {
    min-width: unset !important;
    position: relative;
    width: 100% !important;
    aspect-ratio: 3 / 2;
    border: none !important;
  }
  
  @media (min-width: 600px) {
  
    .left {
      float: left;
      margin-right: 1em;
    }
  
    .right {
      float: right;
      margin-left: 1em;
    }
  
    .left, .right {
      width: 50% !important;
      margin-bottom: .5em;
    }
  
    .center {
      display: block;
      margin: 0 auto;
    }
  
    .box-shadow {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
  
    .medium {
      width: 50% !important;
    }
  
    .small {
      width: 33% !important;
    }
  
  }